@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

* { margin: 0px; padding: 0px; }
body {
	font-size: 120%;
	background: #F8F8FF;
	font-family: 'Montserrat', sans-serif;
}
.header {
	width: 40%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	
}
.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}

.midpicbox {
	display: block;
	justify-content: center;
	text-align: center;
	
}

.midpic {
	display: inline-block;
	width: 35%;
	height: 20%;
	margin-top: 3%;
}

/* NAV BAR */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
	overflow: hidden;
	max-width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5F9EA0;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #5F9EA0;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

  .imgwrapper_center {
	display: block;
	justify-content: center;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
	border-style: solid;
	border-color: black;

  }

.main_imgcenter {
	display: inline-block;
	width: 50%;
	height: 40%;
}

footer {
	text-align: center;
	background-color: #333;
	color: white;
	overflow: hidden;
}

/* BUTTONS - COPY PASTA USING THE CLASSES ASIGNED */

/*Log out button */ 
.logoutbtn {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #942626 5%, #ff0505 100%);
	background-color:#942626;
	border-radius:29px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:11px 25px;
	text-decoration:none;
}
.logoutbtn:hover {
	background:linear-gradient(to bottom, #ff0505 5%, #942626 100%);
	background-color:#ff0505;
}
.logoutbtn:active {
	position:relative;
	top:1px;
}

/* Subject Button */
/* Register Button */
/* Lecture Register Button */
/* Guest Log in button */
/* Home button */
/* Admin Button */
       